body {
  margin:0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #383E56 !important;
 
}

.text-primary-1, .nav-link {
  color: #D4B5B0 !important;
  text-decoration: none;
}

.text-primary-1 {
  font-size: 30pt;
}