body {
  margin:0;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #383E56 !important;
 
}

.text-primary-1, .nav-link {
  color: whitesmoke !important;
  text-decoration: none;
}

.text-primary-1 {
  font-size: 30pt;
}

.card {
  background-color:rgba(232, 232, 240,.5);
  
}

.nav-link {
  font-size: 15pt;
}
.bet-group {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}