body {
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-title{
  font-weight: bold;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #383E56;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  border-right:1px solid #EEDAD1;
  border-left:1px solid #EEDAD1;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F69E7B;
}

.nav-link {
  background-color: #383E56; /* Default background color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.8s ease; /* Transition effect for background color */
}

/* CSS for the hover effect */
.nav-link:hover {
  background-color: #F69E7B; /* New background color on hover */
}

.bet-element{
  margin-bottom: 10px;
  padding: 10px;
}

.bet-element-name {
  font-weight: 700;
  font-size: 2em;
}
.bet-element-likes{
  margin-left: 20px;
}
.bet-element{
  border-bottom: solid black 1px;
}